
# Dependencies
node_modules/

# Build
dist/
build/
.next/

# Python
__pycache__/
*.pyc
.venv/
venv/
backend/static/*
backend/media/*
!backend/media/car_photos/
backend/media/car_photos/*
!backend/media/car_photos/default/

# Env — игнорим всё, кроме .env.example
.env
.env.*
!.env.example

# DB
*.sqlite3
*.db

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/